---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import Logo from "../../public/logo-nobg.png";
import { navbar, redes } from "../repository/utilities";
---

<!-- Overlay -->
<div
  id="overlay"
  class="md:hidden fixed inset-0 z-40 bg-slate-900/50 backdrop-blur-sm
         opacity-0 invisible transition-all duration-300"
>
</div>

<!-- Mobile Menu -->
<aside
  id="menu"
  class="fixed right-0 top-0 z-50 h-screen w-3/4 max-w-xs
         bg-cyan-700 flex flex-col
         translate-x-full transition-transform duration-300 ease-in-out"
>
  <!-- Header -->
  <div
    class="flex items-center justify-between px-5 py-4 border-b border-cyan-600"
  >
    <Image src={Logo} alt="Logo Mariana Jimenez" class="w-10 h-10" />

    <button id="btnClose" aria-label="Cerrar menú">
      <Icon
        name="mdi:close"
        class="w-8 h-8 text-slate-100 hover:text-red-300 transition"
      />
    </button>
  </div>

  <!-- Navigation -->
  <nav class="flex-1 flex items-center justify-center">
    <ul class="flex flex-col gap-6 text-xl font-semibold text-center">
      {
        navbar.map((opc) => (
          <li>
            <a
              href={opc.href}
              class="text-amber-50 hover:text-white transition"
            >
              {opc.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <!-- Footer / Social -->
  <footer class="py-6 border-t border-cyan-600">
    <ul class="flex justify-center gap-8">
      {
        redes.map((r) => (
          <li>
            <a
              href={r.href}
              target="_blank"
              class="text-slate-100 hover:text-white transition"
            >
              <Icon name={r.name} class="w-7 h-7" />
            </a>
          </li>
        ))
      }
    </ul>
  </footer>
</aside>

<script>
  const menu = document.querySelector("#menu");
  const overlay = document.querySelector("#overlay");
  const btnClose = document.querySelector("#btnClose");

  function toggleMenu(menu: Element, overlay: Element, btn: Element) {
    // Escuchamos el evento que mandó el padre
    window.addEventListener("toggle-menu", () => {
      menu.classList.toggle("translate-x-full");
      overlay.classList.toggle("invisible");
      overlay.classList.toggle("opacity-100");
    });

    btn.addEventListener("click", () => {
      menu.classList.toggle("translate-x-full");
      overlay?.classList.toggle("opacity-100");
      overlay?.classList.toggle("invisible");
    });

    overlay.addEventListener("click", () => {
      menu.classList.toggle("translate-x-full");
      overlay?.classList.toggle("opacity-100");
      overlay?.classList.toggle("invisible");
    });
  }

  if (menu && overlay && btnClose) {
    toggleMenu(menu, overlay, btnClose);
  }
</script>
